# Python
 __pycache__/
*.py[cod]
*.pyo

# Environment files
**.env
.env/

# Virtual Environment
venv/

# Logs
*.log

# Migrations
!migrations/__init__.py
*/migrations/*.pyc

# StaticFiles
backend/staticfiles/
media/

# Node.js (for react)
node_modules/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Git
 .gitignore
.vercel

#Python Caches
__pycache__/
*.pyc