# Python
 __pycache__/
*.py[cod]
venv
db.sqlite3
*.env

# Node.js (for react)
 node_modules/ <-it’s big that’s why we don’t include
build/

 # OS-specific files
.DS_Store
Thumbs.db

# Git
 .gitignore

#Python Caches
__pycache__/
*.pyc